* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
#navigationbar {
  height: 7vh;
  width: 100vw;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgb(198, 196, 196);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logoImage {
  height: 80%;
  width: 5%;
}

.image {
  width: 100%;
  height: 100%;
}
.textNavigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
}
.textSingleNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.textNavigation p {
  color: rgb(106, 106, 106);
  font-size: 0.8rem;
  margin-left: 5px;
}
